.membro {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 25%;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5%;
}

.membro img {
  width: 10%;
  min-width: 150px;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.membro .superior {
  display: inline-block;
  height: 70px;
}

.membro .inferior {
  display: inline-block;
  height: 120px;
}
